{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Two Shot</title>
    </head>
    <body>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url "home" %}">Receipt</a>
                        </li>
                        <li>
                            <a href="{% url "categories" %}">Categories</a>
                        </li>
                        <li>
                            <a href="{% url "accounts" %}">Accounts</a>
                        </li>
                        <li>
                            <a href="{% url "create_receipt" %}">Create Receipt</a>
                        </li>
                        <li>
                            <a href="{% url "create_category" %}">Create Category</a>
                        </li>
                        <li>
                            <a href="{% url "create_account" %}">Create Account</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
