{% extends "base.html" %}

{% block content %}
<main>
    <div>
        <h1>Accounts</h1>
    </div>
    <table>
        <tread>
            <tr>
               <th>Name</th>
               <th>Accounts</th>
               <th>Number of receipt</th>
            </tr>
        </tread>
        <tbody>
            {% for accounts in account_list %}
                <tr>
                    <td>{{ accounts.name }}</td>
                    <td>{{ accounts.number }}</td>
                    <td>{{ accounts.number.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
