{% extends "base.html" %}

{% block content %}
<main>
    <div>
        <h1>Expenses</h1>
     </div>
<table>
    <tread>
        <tr>
            <th>Name</th>
            <th>Number of receipt</th>
        </tr>
    </tread>
    <tbody>
        {% for categories in category_list %}
            <tr>
                <td>{{ categories.name }}</td>
                <td>{{ categories.number.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</main>
{% endblock content %}
